*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #EEEEEE;
}

body{
    font: 16px Roboto,Arial,sans-serif,Helvetica;
}
.main_content{
    background-image: linear-gradient(
180deg
,#1c1d1c 50%,#323435 100%);
color: #EEEEEE;
}

.twitter-share-button{
height: 20px;
    box-sizing: border-box;
    padding: 1px 8px 1px 6px;
    background-color: #1b95e0;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 4px;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}
.users_wrap{
    display: flex;
    flex-direction: row;
}
.card-body{
    padding:2rem;
    text-align: center;
    img{
        border-radius: 100%;
        width: 100px;
    }
}
@media (min-width: 740px){
    .card-body{
    img{
        width: auto;
    }
}
}