.filters_wrap{
    background-color: black;
    ul{
        display: flex;
        padding: 1rem 1rem;
        a{
            padding: 0.5rem 1rem;
        }
    }
}
.filter_active{
    background-color: #EEEE;
    color: black;
}
.items_wrap{
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 45px 30px;
    justify-items: center;
}


@media (min-width:1200px){
    .items_wrap{
    padding: 7rem;
    }
    .filters_wrap ul {
        padding: 1rem 7rem;
        a{
            padding: 0.5rem 2rem;
        }
    }
}