.lyrics{
    display: none;
}
.show-lyrics{
    display: block;
}
.lyrics-btn{
    color: rgb(60, 206, 255);
    cursor: pointer;
}
.audio_wrap{
    padding-top: 3rem;
}
.music_wrap{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.music_content{
    width: 95%;
}

@media (min-width:600px){
    .music_content{
    width: auto;
}
}